*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

:root {
    --darkBlue: #1E3A8A;
    --light-blue: #009cff;
    --Medium-blue: #3B82F6;
    --danger-red: #DC3545;
    --dark-grey: #333333;
    --black: #000000;
    --white: #FFFFFF;
    --soft-grey: #F5F5F5;
}
  
  /* Hero Section */
  #contact-hero {
    background-image: url(/app/views/LandingPage/img/contact.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  #contact-hero p {
    margin-top: 10px;
  }
  
  /* Contact Form Section */
  
  
  #contact-form {
    padding: 50px 20px;
    text-align: center;
  }
  
  #contact-form h2 {
    color: var(--darkBlue);
    margin-bottom: 20px;
  }
  
  #contact-form p {
    color: var(--dark-grey);
    max-width: 800px;
    margin: 0 auto 30px auto;
  }
  
  
  #form-box{
    width: 50%;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .cta-button {
    background-color: var(--darkBlue);
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: var(--Medium-blue);
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {

    .hero-content 
  
    #contact-hero p {
      width: 90%;
      text-align: center;
    }
  
    #contact-form {
      padding: 30px 20px;
    }
  
    #form-box {
        width: auto;
    }
  }