@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: #1e3a8a;
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #009cff;
}
.menu a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  color: #009cff;
}
.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(133, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  background: transparent;
  padding: 5px;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search--box i:hover {
  transform: scale(1.2);
}

.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.payment--card {
  background: #ebe9e9;
  border-radius: 10px;
  padding: 1.2rem;
  width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.payment--card:hover {
  transform: translateY(-5px);
}
.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 12px;
  font-weight: 200;
}
.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.icon {
  color: #009cff;
  padding: 1rem;
  height: 60px;
  text-align: center;
  border-radius: 35%;
  font-size: 1.5rem;
  background: #fff;
}
.card--detail {
  font-size: 10px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.btn:active {
  background-color: #009cff;
}
.table--container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: #ebe9e9;
  color: #009cff;
}
th {
  padding: 15px;
  text-align: left;
}
tbody {
  background: #f2f2f2;
}
td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even) {
  background: #fff;
}

.table--container button {
  color: #007bff;
  background: none;
  cursor: pointer;
}
